.bc-background-whatsapp,
.bc-background-whatsapp-1 { background-color: #075e54; }
.bc-color-whatsapp,
.bc-color-whatsapp-1 { color: #075e54; }
.bc-background-whatsapp-2 { background-color: #128c7e; }
.bc-color-whatsapp-2 { color: #128c7e; }
.bc-background-whatsapp-3 { background-color: #25d366; }
.bc-color-whatsapp-3 { color: #25d366; }
.bc-background-whatsapp-4 { background-color: #dcf8c6; }
.bc-color-whatsapp-4 { color: #dcf8c6; }
.bc-background-whatsapp-5 { background-color: #34b7f1; }
.bc-color-whatsapp-5 { color: #34b7f1; }
.bc-background-whatsapp-6 { background-color: #ece5dd; }
.bc-color-whatsapp-6 { color: #ece5dd; }